*{
    margin: 0; /*margen exterior*/
    padding: 0; /*margen interno*/
    border: none; /*declarrar que los elementos no tienen bordes*/
    outline: none; /*declarar que el bodeado que se le agrega a los inputs al seleccionador no exigte*/
    box-sizing: border-box; /*el tamaño de la caja no sobrepasa a el tamaño del contenedor padre*/
  }

html{
    background-color: #ffc700;
}

header {
    background:#ffc700;
    margin: 0;
    padding: 16px 32px;
  }

  main{
    background-color: white;
  }


.nav_{
    display: flex;
    justify-content: space-between;
}

.li_1{
    list-style: none;
}

.li_2{
    list-style: none;
}

.button_{
    background: none;
}

.a_1{
  padding: 8px 16px; 
  text-decoration: none;
  border-radius: 32px;
  border: 1px solid #000;
  color: #000;
}

.a_2{
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 32px;
  border: 1px solid #000;
  color: #000;
}

select{
    padding: 8px 16px;
    border-radius: 32px;
    background-color: #ffc700;
    border: 1px solid #000;
    
}

.lupa{
    font-size: 2pc;
}
.ul_{
    display: flex;
    align-items: center;
    gap: 5px;
}

.div_form{
    display: flex;
    align-items: center;
    gap: 7px;
}

h1{
    font-size: medium;
}

.slide_1{
    background-color: #ffc700;
    display: flex;
    border-bottom: 5px solid black;

}



.parrafo{
    background-color: white;
    
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    padding: 120px;
    font-weight:bold ;
}

.imgSvg{
    width: 35pc;

}

.imgSvg2{
    width: 60pc;

}

.grid{ /*Cantidad de columnas o cartas*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 30px;
    padding: 150px 50px;
}


/*el 2 viene siendo la posicion del elemento que queremos afectar
.grid :nth-child(2){
    grid-column: 2 /4;
    grid-row: 2/4; 
    height: 100%;
}*/

.info{
    display: flex;
    justify-content: space-between;
    font-size: 23px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.p_money{
    text-decoration: #000;

}

.p_text{
    color: #0fa958;
}


.containerImg{
    position: relative;
    /* width: 18pc; */
    height: 25pc;
    border: 5px solid transparent;
    border-radius: 40px;
}

.containerImg img{
    position: absolute;
    object-fit: cover; /*La imagen va ocupar todo el tamaño del div*/
    width: 100%; /*ocupa el ancho del padre que es el contenedor*/
    border-radius: 34px;
    height: 100%; /*ocupa toda la altura del div*/
}



.camisa{
    transition: all 0.2s ease-in-out; /*cuando pasamos el mouse va a tener una transicion*/
}

.containerImg:hover  .camisa{
    opacity: 0; /*para que la imagen que tenga esa imagen se coloque transparente*/
}