*{
    margin: 0; /*margen exterior*/
    padding: 0; /*margen interno*/
    border: none; /*declarrar que los elementos no tienen bordes*/
    outline: none; /*declarar que el bodeado que se le agrega a los inputs al seleccionador no exigte*/
    box-sizing: border-box; /*el tamaño de la caja no sobrepasa a el tamaño del contenedor padre*/
  }

html{
    background-color: #ffc700;
}

header {
    background:#ffc700;
    margin: 0;
    padding: 16px 32px;
  }

.nav_{
    display: flex;
    justify-content: space-between;
}

.li_1{
    list-style: none;
}

.li_2{
    list-style: none;
}

.button_{
    background: none;
}

.a_1{
  padding: 8px 16px; 
  text-decoration: none;
  border-radius: 32px;
  border: 1px solid #000;
  color: #000;
}

.a_2{
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 32px;
  border: 1px solid #000;
  color: #000;
}

select{
    padding: 8px 16px;
    border-radius: 32px;
    background-color: #ffc700;
    border: 1px solid #000;
    
}

.lupa{
    font-size: 2pc;
}
.ul_{
    display: flex;
    align-items: center;
    gap: 5px;
}

.div_form{
    display: flex;
    align-items: center;
    gap: 7px;
}

h1{
    font-size: medium;
}

.slide_1{
    display: flex;
}

.imgSvg{
    width: 35pc;

}

.imgSvg2{
    width: 35pc;
}